@keyframes opening {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.logo-initial {
    animation: opening 2s forwards;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-logo {
    position: absolute;
    top: 10%;
    left: 2%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    color: white;
    font-size: 50px;
}

 #root {
    height: 100%;
    margin: 0;
    background-image: url('../assets/background.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 




.header-content {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .buttons-container {
    position: fixed;
    top: 5%;
    right: 0;
    border: black 2px solid;
    border-radius: 0.5cm 0 0 0.5cm;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: flex-end;
  }
  
